#Series in Pandas

In [27]:
# series is a single dimentional array, 
# 1d arrary

#Create Series

In [2]:
import pandas as pd

In [3]:
data = pd.Series([3,23,32,9,90])
print(data)

0     3
1    23
2    32
3     9
4    90
dtype: int64

#pandas Series has two things in one object
#1 Values
#2 Index

In [4]:
# pandas Series has two things in one object
#1 Values
#2 Index

In [5]:
data = pd.Series([34,32,2332,90293,9933,29038] , index = ['jan','feb','mar','apr','may','jun'])
print(data.values)
print(data.index)

[   34    32  2332 90293  9933 29038]
Index(['jan', 'feb', 'mar', 'apr', 'may', 'jun'], dtype='object')

In [6]:
print(data)

jan       34
feb       32
mar     2332
apr    90293
may     9933
jun    29038
dtype: int64

#Access values

In [7]:
print(data [1])
print(data ["feb"])

32
32

In [8]:
print(data [[0,3,5,4]])

jan       34
apr    90293
jun    29038
may     9933
dtype: int64

In [9]:
print(data[data > 40])

mar     2332
apr    90293
may     9933
jun    29038
dtype: int64

In [10]:
print(data > 40)    # Boolean Result

jan    False
feb    False
mar     True
apr     True
may     True
jun     True
dtype: bool

# We can use numpy array in Series

In [11]:
import numpy as np

In [12]:
arr = [393,43,22,2,4]
ind = ['a', 'b', 'c','d','f']
da = pd.Series(arr, index=ind)
print(da)

a    393
b     43
c     22
d      2
f      4
dtype: int64

#Dictionary as input in Series

In [13]:
dic = {'sindh':30000, 'punjab':70000, 'kpk' : 40000, 'blochistan' : 20000}
text_state = pd.Series(dic)
print(text_state)

sindh         30000
punjab        70000
kpk           40000
blochistan    20000
dtype: int64

# Finding null value

  There are two ways:   'data'  is a series
  1.  pd.isnull(data)    method   
  2.  data.isnull()     function

In [14]:
#  There are two ways:   'data'  is a series
print( pd.isnull(data))   # method   
print("       ")
print(data.isnull())     #function

jan    False
feb    False
mar    False
apr    False
may    False
jun    False
dtype: bool

jan    False
feb    False
mar    False
apr    False
may    False
jun    False
dtype: bool

#Data Frame

In [15]:
# We use multiple demention data in DataFrame

In [16]:
import pandas as pd

#Creating DataFrame

In [17]:
name = pd.Series(['ali','rana', 'ramzan'])
num  = pd.Series([34,89,90])
print(name)
print(num)

data = {"Student" : name, "marks" : num}
files =  pd.DataFrame(data)
print(files)

0       ali
1      rana
2    ramzan
dtype: object
0    34
1    89
2    90
dtype: int64
  Student  marks
0     ali     34
1    rana     89
2  ramzan     90

#combine two Series and giving culumns name

In [18]:
ame = pd.Series(['ali','rana', 'ramzan'])
num  = pd.Series([34,89,90])

In [19]:

data = {"Student" : name, "marks" : num}
files =  pd.DataFrame(data)
print(files)

  Student  marks
0     ali     34
1    rana     89
2  ramzan     90

#Adding index

In [20]:
state = ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada']
data = {'state': state ,
        'year' : [2000, 2001, 2002, 2001, 2002, 2003],
        'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
state_pop_df = pd.DataFrame(data 
                     , index = ['1st', '2nd', '3rd', 
                                '4th', '5th','6th'] )
print(state_pop_df)

      state  year  pop
1st    Ohio  2000  1.5
2nd    Ohio  2001  1.7
3rd    Ohio  2002  3.6
4th  Nevada  2001  2.4
5th  Nevada  2002  2.9
6th  Nevada  2003  3.2

In [21]:
state_pop_df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [22]:
state_pop_df.index

Index(['1st', '2nd', '3rd', '4th', '5th', '6th'], dtype='object')

#Dictionary like notation

In [23]:
state_pop_df['year']

1st    2000
2nd    2001
3rd    2002
4th    2001
5th    2002
6th    2003
Name: year, dtype: int64

In [24]:
state_pop_df['pop']

1st    1.5
2nd    1.7
3rd    3.6
4th    2.4
5th    2.9
6th    3.2
Name: pop, dtype: float64

In [25]:
state_pop_df.state

1st      Ohio
2nd      Ohio
3rd      Ohio
4th    Nevada
5th    Nevada
6th    Nevada
Name: state, dtype: object