In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df2=pd.read_csv("examples/ex3.csv")

In [4]:
df2

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [9]:
sample_df = pd.read_csv("examples/sample.csv")

print(sample_df)

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

In [10]:
sample_df.head

<bound method NDFrame.head of   studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80>

In [16]:
#  here we can replaced / change colums names
sample_df= pd.read_csv("examples/sample.csv", 
                       names=['id', 'name', 'ch', 'phy', 'eng','ma' ])

print(sample_df)

          id         name          ch       phy       eng     ma
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [21]:
#  here we did row1 skip using ( skiprows=1 )
# if you give 1 then it skip 0,1 :start index wise butif you give 2 
# then it skip first two rows

sample_df= pd.read_csv("examples/sample.csv",skiprows=1,  
                       names=['id', 'name', 'ch', 'phy', 'eng','ma' ])

print(sample_df)

    id         name  ch  phy  eng  ma
0  A01     arif ali  20   30   40  50
1  A02  kamran khan  30   40   50  60
2  A03   imran ali   40   50   60  70
3  A04  kashif khan  50   60   70  80

In [32]:
#  here we can replaced / change colums names
# if you give 1 then it skip 0,1 :start index wise but if you give 2 
# then it skip first two rows

sample_df= pd.read_csv("examples/sample.csv",skiprows=2 ,
                       names=['id', 'name', 'ch', 'phy', 'eng','ma' ])

print(sample_df)

    id         name  ch  phy  eng  ma
0  A02  kamran khan  30   40   50  60
1  A03   imran ali   40   50   60  70
2  A04  kashif khan  50   60   70  80

In [90]:
#  here we can skip rows but first three rows skip in sequence

sample_df= pd.read_csv("examples/sample.csv",skiprows=3 )

print(sample_df)

   A03   imran ali    40   50   60  70
0  A04  kashif khan   50   60   70  80

In [93]:
#  if we want to skip rows : 4th rows skip not all 4 rows
sample_df= pd.read_csv("examples/sample.csv",skiprows=[4])

print(sample_df)
print('\n')

sample_df= pd.read_csv("examples/sample.csv",skiprows=[3] )
#  here 3rd row skip
print(sample_df)

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70


  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A04  kashif khan          50        60        70     80

In [42]:
# We can change column names while loading data
# if you have not labels then we can use
sample_df=pd.read_csv("examples/sample.csv",header=None)
                     # names=['id','name','ch','phy','eng','ma'])

print(sample_df)

           0            1           2         3         4      5
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [43]:
sample_df=pd.read_csv("examples/sample.csv",skiprows=1,
                      names=['id','name','ch','phy','eng','ma'])

print(sample_df)

    id         name  ch  phy  eng  ma
0  A01     arif ali  20   30   40  50
1  A02  kamran khan  30   40   50  60
2  A03   imran ali   40   50   60  70
3  A04  kashif khan  50   60   70  80

In [ ]:
#  Here, start book

In [50]:
sample_df=pd.read_csv("examples/ex1.csv" )

print(sample_df)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [58]:
sample_df=pd.read_csv("examples/ex1.csv" )

print(sample_df)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [60]:
sample_df=pd.read_csv("examples/ex2.csv" )

print(sample_df)
#  in this file , there is no columns label

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [61]:
# there, ex2 file have no column labels then use header=None

sample_df=pd.read_csv("examples/ex2.csv", header=None)

print(sample_df)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [62]:
sample_df=pd.read_csv("examples/ex1.csv" )

print(sample_df)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [63]:
sample_df=pd.read_csv("examples/sample.csv" )

print(sample_df)

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

In [66]:
sample_df=pd.read_csv("examples/sample.csv",skiprows=1,
                     names=['id','names','ch','phy','eng','ma'])

print(sample_df)

    id        names  ch  phy  eng  ma
0  A01     arif ali  20   30   40  50
1  A02  kamran khan  30   40   50  60
2  A03   imran ali   40   50   60  70
3  A04  kashif khan  50   60   70  80

# Hererical Indexing

In [77]:
sample2_df=pd.read_csv("examples/sample2.csv")
print(sample2_df)

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [78]:
sample2_df=pd.read_csv("examples/sample2.csv", index_col=['key1'])
print(sample2_df)

     key2  value1  value2
key1
one     a       1       2
one     b       3       4
one     c       5       6
one     d       7       8
two     a       9      10
two     b      11      12
two     c      13      14
two     d      15      16

In [79]:
sample2_df=pd.read_csv("examples/sample2.csv", index_col=['key1','key2'])
print(sample2_df)

# here we can see that,key1 and key2 used as index.

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [84]:
 result = pd.read_table('examples/ex3.txt')

print(result)

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491